src/*.js
src/*.map
src/**/*.js
src/**/*.map
src/controller/data/*.txt
test/*.js
test/*.map
npm-debug.log
mochawesome-reports/
node_modules/
.idea/
.yarnclean
coverage/
./idea
.nyc_output
/test/data/courses.zip
InsightFacade.ts